.hero {
    /* padding: 10px 20px; */
    color: black;
}

.hero-heading {
    font-size: 2rem;
    line-height: 40px;
    text-align: center;
}

.hero-paragraph {
    font-size: 1.2rem;
    text-align: center;
    color: #757575;
}

.category {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px auto;
}

.category a {
    text-decoration: none;
    color: black;
}

.category-item {
    margin: 20px 20px;
    display: flex;
    align-items: center;
}

.category-item > span {
    font-size: 2.4rem;
    margin-right: 15px;
}

.category-item ul {
    list-style: none;
    padding: 0;
    margin: 0;

}


.category-item-heading {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 5px;
}



.featured h2 {
    font-size: 1.6rem;
    text-align: center;
}