.container {
    font-family: 'Roboto';
    padding: 5px 10px;
}

.nav-bar {
 margin-bottom: 50px;
 border-bottom: 0.5px solid #757575;
}

.nav-heading {
    font-size: 1.4rem;
    margin: 15px;
}

.nav-heading a {
    text-decoration: none;
    color: black;
}

.nav-heading a:active {
    color: black;
}

